In [1]:
from sklearn import datasets
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
dataset=pd.read_csv("Visitor_Prediction_Multiple_Linear_Regression_data.csv")

In [4]:
dataset.keys()

Index(['Date', 'Views_show', 'Visitors', 'Views_platform', 'Ad_impression',
       'Cricket_match_india', 'Character_A', 'Unnamed: 7'],
      dtype='object')

In [5]:
dataset.head()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,3/1/2017,183738,1260228,1706478,1060860448,0,0,NaN
1,3/2/2017,193763,1270561,1690727,1031846645,0,0,NaN
2,3/3/2017,210479,1248183,1726157,1010867575,0,0,NaN
3,3/4/2017,240061,1492913,1855353,1079194579,1,0,NaN
4,3/5/2017,446314,1594712,2041418,1357736987,0,0,NaN

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
Date                   80 non-null object
Views_show             80 non-null int64
Visitors               80 non-null int64
Views_platform         80 non-null int64
Ad_impression          80 non-null int64
Cricket_match_india    80 non-null int64
Character_A            80 non-null int64
Unnamed: 7             0 non-null float64
dtypes: float64(1), int64(6), object(1)
memory usage: 5.1+ KB

In [8]:
dataset.shape

(80, 8)

In [10]:
df=pd.concat([dataset.Views_show,dataset.Views_platform],axis=1)

In [30]:
x=df
y=dataset.iloc[:,2].values

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=12)

In [32]:
regressor = LinearRegression()

In [33]:
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
y_predictions = regressor.predict(x_test)

In [35]:
y_predictions[0]

1827537.9970048484

In [36]:
y_test[0]

1848354

In [27]:
r2_score(y_test, y_predictions)

0.8616705646791418